@media (min-width:600px){
  .quizes{
  display: flex;
  flex-direction: row;
 
}
.blank{
position: relative;
margin-top: 5em;
flex: 1;
z-index: 5555;
}
.quiz-titles{
  flex: 7;
  margin-top: 12em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline-start: 3em;
}
a {
  text-decoration: none;
  text-emphasis: none;
}
}
@media (max-width:599px){

  .quizes{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .blank{
  position: relative;
  margin-top: 1em;
  flex: 1;
  z-index: 5555;
  }
  .quiz-titles{
    flex: 7;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  }
  a {
    text-decoration: none;
    text-emphasis: none;
  }

}